/*
 * Main style sheet
 */
.clear{
	clear:both;
}
body{
	margin:0;
	color:#555;
}
header{
	background:#111;
	color:#e2e2e2;	
	height:50px;	
	width:100%;
	position:fixed;
	top:0;
}
#menu{ padding-left:190px;}
#menu li{
	display:inline;
	padding-left:10px;
	padding-right:10px;
}
#menu li a,#menu li a:hover{
	color:#EEE;
	text-decoration:none;
	font-size: 20px;
}
#menu li a:hover{
	font-style: italic;
}

#home-page,#portfolio-page,#testimonial-page,#contact-page{
	color:#555;
	min-height:500px;
	max-height:760px;
	overflow:hidden;
	margin-top:8px;
	margin-bottom:8px;
	padding-top:80px;
}
.content{
	width:960px;
	margin:auto;
}
#home-page{
	height:768px;
	background: url('/assets/home-bg.jpg');
	background-size: 1365px 760px;
	background-repeat: no-repeat;
	color:#EEE;
	text-align: center;
}
#home-page h1{
	padding-top:64px;
}
#call-to-action{
	padding: 8px;
	border:1px solid #EEE;
}
#home-page a,#home-page a:hover{
	text-decoration: none;
	color:#EEE;
	font-size: 20px;
	font-weight: bold;
}
#home-page p{
	width:960px;
	margin:auto;
	text-align:center;
}
#service-list{
	height:180px;
	width:960px;
	margin:auto;
	overflow:hidden;
	padding-top: 80px;
}
#service-list li{
	display:inline;
	float:left;
	margin-left:24px;
	margin-right:24px;
}

#service-list li a,#service-list li a:visited{
	color:#222;
	text-align:center;
	text-decoration:none;
}
.service-img{
	width:144px;
	height:144px;
}
p#service-extra-notes{
	padding-top:80px;
	display: none;
}
#portfolio-page{
	background: #EEE;
}
#testimonial-page{
	background: #EEE;
}
#testimonial-page ul li{
	display:inline;
	
}
#testimonial-page ul li div{
	height:120px;
	margin-top: 20px;
	margin-bottom: 20px;
}
#testimonial-page ul li div p{
	width:780px;
}
.testimony-img{
	width:114px;
	height:114px;
	border-radius: 50%;
}
.pull-left{
	float:left;
}
.pull-right{
	float:right;
}
.testimony-author{
	padding-left:28px;
}
#contact-page{
	background: #EEE;
}
form{
	width:900px;
	margin:auto;
}
input,textarea{
	width:600px;
	margin-top:8px;
	margin-bottom:8px;
}
input[type=submit]{
	width:200px;
}
#recent-posts-col{
    height:100%;
}
footer{
	width:960px;
	margin:auto;
}
#copyleft{
	display: inline-block; 
	text-align: right; 
	margin: 0px; 
	-moz-transform: scaleX(-1); 
	-o-transform: scaleX(-1); 
	-webkit-transform: scaleX(-1); 
	transform: scaleX(-1); 
	filter: FlipH; 
	-ms-filter: "FlipH"; 
}


#blog-page{
	padding-top:64px;
}
#blog-list {
	list-style:none;
}

#blog-list li{
	margin-top:16px;
	margin-bottom:24px;
}
#blog-list li:first{
	border-top:none;
}

.post-header{

}
.post-header h2{
	padding:0;
	margin:0;
}
.post-header span{
	font-size: 12px;
}
.post-body{
	margin-top:10px;
}
.post-body a,.post-body a:hover,.post-body a:visited{
	color:#ff5722;
}